In [1]:
import pandas as pd
import sqlite3

In [5]:

conn = sqlite3.connect('./hockeysavant_app/hockeysavant.db')
sql_query = """SELECT name FROM sqlite_master  
  WHERE type='table';"""
cursor = conn.cursor()
cursor.execute(sql_query)
print(cursor.fetchall())
# pd.read_sql()

[('expected_goals',), ('play_by_play',), ('goalie_stats',), ('percentiles',), ('players',), ('skater_stats',), ('video_links',)]

In [13]:
pd.read_sql('SELECT * FROM goalie_stats', con=conn)

,id,season,games,gamesStarted,timeOnIce,wins,losses,savePercentage,goalAgainstAverage,powerPlaySavePercentage,shortHandedSavePercentage,evenStrengthSavePercentage
0,8471239,20182019,26.0,23.0,1371:47,6.0,13.0,0.902507,3.061708,89.156627,88.000000,90.491803
1,8476234,20182019,41.0,38.0,2301:58,15.0,18.0,0.891414,3.362342,84.507042,91.666667,89.679359
2,8478406,20182019,23.0,21.0,1263:52,10.0,10.0,0.917788,2.611035,89.285714,100.000000,91.814947
3,8471306,20182019,43.0,39.0,2293:42,23.0,14.0,0.926582,2.275799,85.798817,96.875000,93.699187
4,8475215,20182019,46.0,43.0,2615:49,25.0,13.0,0.929705,2.133177,88.826816,100.000000,93.405601
...,...,...,...,...,...,...,...,...,...,...,...,...
509,8483575,20222023,3.0,3.0,177:02,1.0,2.0,0.843750,3.389192,90.000000,85.714286,82.978723
510,8480199,20222023,2.0,1.0,84:20,1.0,0.0,0.906250,2.134387,66.666667,100.000000,92.592593
511,8482982,20222023,1.0,1.0,58:57,0.0,1.0,0.938776,3.053435,100.000000,NaN,91.891892
512,8480238,20222023,2.0,2.0,120:00,2.0,0.0,0.928571,2.500000,87.500000,100.000000,93.103448
513,8480843,20222023,19.0,17.0,1062:43,4.0,10.0,0.901325,3.782758,81.739130,90.476190,91.896869